/* Header Styles */
header {
  padding: 1.4rem 2rem 0.75rem;
  flex-direction: column;
  width: 100vw;
}

.header-icon {
  width: 55px;
  height: 55px;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eye {
  max-width: 65px;
  margin-right: 10px;
}

.navbar a,
li a {
  color: black;
}

li a:hover,
li a:focus,
.navbar a:hover,
.navbar a:focus,
.navbar a img:hover,
.navbar a img:focus {
  opacity: 0.7;
}

.navbar a img {
  padding-right: 10px;
}

.navbar > * + * {
  margin-left: 30px;
}

/* Footer Styles */
footer {
  width: 100vw;
  padding: 1.5rem 2rem;
  background-color: rgb(165, 165, 165);
}

.footerHeader {
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  align-items: flex-end;
}

.footerHeader a {
  margin-bottom: 2.5px;
  color: black;
}

.menuGroup {
  padding: 1rem 0.5rem;
  flex-direction: column;
}

.footerMenu {
  margin-left: 50px;
}

.subscribe {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 160px;
}

/* Responsive styles */
@media (min-width: 600px) {
  header,
  .menuGroup {
    flex-direction: row;
  }

  header {
    padding: 1.4rem 2rem;
  }

  .menus {
    width: 400px;
    align-self: flex-start;
  }
}
